@charset "UTF-8";

.box {
  border: 2px solid #aaa;
  padding: .5em 2em;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: .9em;
}
/*--------------------------------------
  インデックス付きボックス
引用元：CSS｜タイトル付きボックスデザイン サンプル集
https://cotodama.co/css_frame/
--------------------------------------*/
.okibox{
  border: 2px solid #0094D6;
  background: #FFF;
}

h6.okibox_header{
  background: #0094D6;
  color: #FFF;
  margin: 0;
  display:inline-block;
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

.okibox .okiinner{
  padding: .5em;
}

.highlight {
  padding: 7.2px;
}

.cmd {
  white-space: pre-wrap;       /* css-3 */
  color: #e3e3e3;
  background-color: #364549;
  margin: 1.5em, -32px;
  padding: 1em, 32px;
  border-width: 2.25em .25em .25em .25em;
  border-style: solid;
  border-color: #dcdcdc;
  font-size: .9em;
  box-sizing: border-box;
  word-break: break-all;
}

.unuse {
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
